/* Page */

body {
    margin: 0;
    background-color: #202020;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 100vw;
    height: 100vh;
}

/* Title */

.title {
    font-size: 3rem;
    font-weight: 200;
    color: #ffffffaa;
}

/* Input box */

#input {
    width: 256px;
}
input[type=text] {
    border-radius: 8px;
    border-width: 0;
    background-color: #ffffff22;
    padding: 12px;
    color: inherit;
    font-family: inherit;
    transition: 250ms;
}
input[type=text]:focus, input[type=text]:hover {
    outline: none;
    background-color: #ffffff33;
}
input[type=text]::placeholder {
    color: #ffffff88;
}
input[type=text].error {
    background-color: #ff222244;
}

/* Display */

#display {
    max-width: 100vw;
    overflow-x: overlay;
    overflow-y: hidden;
}
.mono {
    font-family: monospace;
    font-size: 1.2rem;
    line-height: 1.2rem;
    white-space: pre;
}

/* Button */

button {
    border-radius: 8px;
    border-width: 0;
    background-color: transparent;
    padding: 12px;
    color: #ffffffcc;
    font-family: inherit;
    font-size: 0.8rem;
    transition: 125ms;
    cursor: pointer;
}
button:hover {
    background-color: #ffffff11;
}
button:active {
    background-color: #00000011;
}

/* Snackbar */

.snackbar {
    position: fixed;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 256px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff22;
    border-radius: 8px;
    font-size: 0.8rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 125ms, visibility 0ms 125ms;
}
.snackbar.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 125ms;
}

/* Scrollbar */

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border: 4px solid transparent;
    border-radius: 6px;
    background-clip: padding-box;
}
.custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
}